/* 全局样式 */
body {
    font-family: 'SimSun', '宋体', sans-serif; /* 中文字体 */
    line-height: 1.6;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: 'Times New Roman', Times, serif; /* 英文字体 */
}

/* 侧边栏 */
aside {
	width: 200px;
	height: 100%;
	position: fixed;
	background: #e21d9d;
    left: 0; /* 将侧边栏固定在页面的左侧 */
    top: 0; /* 从页面顶部开始固定 */
}

/* 页脚样式 */
footer {
    background-color: rgba(59, 5, 252, 0.8); /* 使用 rgba 表示颜色，最后一个参数 0.7 表示透明度为 70% */
    color: #fff; /* 设置文字颜色为白色 */
    padding: 10px 0; /* 设置页脚顶部和底部的内边距为 10px，左右内边距为 0 */
    text-align: center; /* 设置文本居中对齐 */
    position: fixed; /* 将页脚固定在视口中 */
    bottom: 0; /* 将页脚距离视口底部的距离设为 0，即固定在页面的底部 */
    width: 100%; /* 设置页脚宽度占据整个视口宽度 */
}

footer p {
    margin: 10px 0; /* 设置段落元素的外边距 */
}


/* 主内容区域 */
.main-content {
    margin-left: 320px; /* 确保主内容区域与侧边栏的宽度不重叠 */
    margin-bottom: 60px; /* 确保页面内容不被页脚遮挡 */
}

/* 响应式设计 */
@media screen and (max-width: 768px) {
    aside {
        display: none; /* 在小屏幕下隐藏侧边栏 */
    }

    .main-content {
        margin-left: 0; /* 在小屏幕下取消主内容区域的左边距 */
    }
}

/* 竖屏 */
@media all and (orientation: portrait) {
    aside {
        display: none; /* 在竖屏模式下隐藏侧边栏 */
    }

    .main-content {
        margin-left: 0; /* 在竖屏模式下取消主内容区域的左边距 */
    }
}